footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    height: 15%;
  }
  
  footer p {
    color: white;
  }
  